html, body, .container {
    height: 100%;
    font-family: 'News Cycle', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}

.btn-primary, .btn-primary:visited {
    background-color: #0d807a;
    border-color: #0d807a;
    width: 100px;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #066c67;
}

.btn {
    border: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.display-4 {
  font-size: 30px;
  padding-bottom: 6px;
}

h1 {
  color: #0d807a;
}

.lead {
  font-size: 17px;
  color: #666;
}

#formula {
  font-size: 36px;
  padding-bottom: 6px;
  color: white;
}

.link {
  font-size: 22px;
  color: #f26856;
  hover: underline;
}

.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 0px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
